

body{
    background-color: white;
    // background-image: none;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.buttonContainer{
width:100dvw;
height: 100dvh;
display: flex;
color: white;
.buttons{
    display: flex;
    justify-content: space-around;
   align-items: center;
    flex-direction: column;
    width:100%;
    overflow: hidden;
    
    


    

    .button{
display: flex;
justify-content: center;
align-items: center;
flex-direction:row;
height: 200px;

        .delete,.edit{
            color: white;
            padding-top:10px;
           display: flex;
           justify-content: center;
           align-items: center;
           width: 200px;
           height: 50px;
           font-size: 30px;
           border-radius: 10px;
           background-color: #3d3d3d;

border: none;
.delete-icon{
    // width: 60px;
    // height: 60px;
     z-index: 1000;
     scale: 1.5;
     
     
}
.rocket{
    scale: 3;

}
        }
    }
}

}

.animation{
    animation: delete 3s ease-out  ;
transition: 2s;
}
.animation2{
    animation: deleteCap 3s ease-out ;
    transition: 2s;
}
.animation3{
   
    animation: moveWords 3s ease-out ;
    transition: 2s;
}
.word{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transform: translateX(-20px);
    color: white;
    // -webkit-text-fill-color: transparent;
    // -webkit-text-stroke-color: white;
    // -webkit-text-stroke-width: 0.1px;
}

.word2{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transform: translateX(-40px);

}

.word3{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transform: translateX(-40px);
    z-index: 1;

}
.edit{
    position: relative;
}

.word2Animation{
    animation: send 14s ease-in-out ;
}

.rocketAnimation{
    animation: flyrocket 5s linear  3s ;
}


.span{
    background-color: #0bceb2 ;
    width: 20px;
        height: 50px;
    position: absolute;
    border: 2px solid #fff;
    left: 0;
    top: 0;
    z-index: 0;

    &:nth-child(2){
        
        transform: translateX(40px);
    }
    &:nth-child(3){
      
        transform: translateX(80px);
    }
    &:nth-child(4){
       
        transform: translateX(120px);
    }
    &:nth-child(5){
       
        transform: translateX(160px);
    }
    &:nth-child(6){
       
        transform: translateX(200px);
    }
}

@keyframes send{
    20%{
        transform: translateX(-120px) scale(0) ; 
        display: none; 

    }
    60%{
        
        display: none;
    }
    100%{
        transform: translateX(-40px) ; 
       
    }
}

@keyframes flyrocket{
    10%{
        transform: translate(50px,-50px)  ;
        opacity: 0;
        display: none;
    }
    30%{
        transform:rotateZ(180deg)  ;
       display: none;
    }
    50%{
        transform:translate(-100px,100px) ;
        display: none;
    }
   
    100%{
        transform: translate(0,0) ;
    }
}


@keyframes delete {
    0% {
        transform: scale(2);
    }
    50% {
        transform: scale(2) rotateZ(45deg) ;
    }
   
    75% {
        transform: scale(1) rotateZ(0deg) ;
    }
    100% {
        transform: scale(0.5) translateX(-230px) translateY(330px) ;
    }
}


@keyframes deleteCap{
    0%{
        transform: translateY(0px) ;
        scale: 1;
    }
    50%{
        transform:translateY(10px) translateX(-20px) rotateZ(-90deg) ;
     scale: 1;
    }
    100%{
        transform: translateY(0px) rotateZ(0deg) ;
        scale: 1;
    }
}

@keyframes moveWords{
   
    50%{
        color:#0bceb2;
        transform: translateX(-100px);
      font-size: 15px;
        opacity: 0.5;
    }
    100%{
        color:#0bceb2;
        transform: translateX(-120px);
      font-size: 0px;
        opacity: 0;
    }
}

@keyframes deletefade{
   
    50%{
        transform: scale(2);
    
    }
    100%{
        transform: scale(1);
     
    }
}

.hide{
    display: none;
}
