
*{
    margin: 0;
    padding: 0;
}

body{
    perspective: 800px;
    height: 100vh;
    background-color: black;
}

.bigSphere{
    height: 100dvh;
 background: radial-gradient(rgba(0, 0, 0,0.8),rgba(0, 0, 0));
}

.sphereContainer{
    height: 60vh;
    width: 30vh;
    position: absolute;
    top: 50vh;
    left: 40vw;
    transform: translate(-50%,-50%);
   
    .box{
        height: 250px;
        width: 250px;
        position: absolute;
        top: 100px;
        left: 100px;
        transform: rotateX(60deg);
        transform-style: preserve-3d;
        animation: sphereRotate 10s linear infinite alternate ;
        .circle{
            position: absolute;
            height: 250px;
            width: 250px;
            text-align: center;
            padding: 100px 0px;
            color: white;
            background-color: black;
            background-color: white;
            opacity: 0.1;
            // border: 5px solid blueviolet;
            font-size: 50px;
            box-sizing: border-box;
            // box-shadow: 2px 20px 20px 2px black ,2px 2px 200px 5px black inset;
            // filter: blur(4px);
            border-radius: 50%;

            @for $i from 1 through 30{
                &:nth-child(#{$i}){
                    transform: rotateY($i * 12deg);
                }
            }
            
        }
    }
}

// @keyframes sphereRotate{
//     to{
//         transform-origin: left;
//         transform:rotateY(360deg) translateX(-100px) rotateX(360deg) translateY(-200px) rotateZ(360deg)  translateX(100px)  translateY(400px) translateZ(400px) translateZ(-400px) translateY(-200px) translateX(-200px) ;
//     }
// }
@keyframes sphereRotate {
  0%{
    transform: rotateX(-60deg) translate(-50px,200px) rotateX(360deg) translate(50px,-100px) rotateY(360deg) translate(100px,-100px) rotateZ(150deg) translate(-400px,200px) ;
  }
  50%{
    transform: rotateX(250deg) translate(-200px,100px) rotateY(360deg) translate(200px,-100px)   rotateZ(360deg)   translate(-100px,-100px)   ;
  }
  100%{
    transform: rotateX(-60deg) translate(-50px,-100px)  rotateZ(60deg) translate(-100px,-100px) rotateY(360deg) rotateY(360deg)translate(-100px,-100px) rotateX(120deg) translate(200px,200px) ;
  }
  }
  